<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Список студентов</title>
</head>

<body>

    <div id="app">
        <div class="stud-search">
            <form action="#" class="search" onsubmit="event.preventDefault()">
                <p>студентов: {{students.length}}</p>
                <input type="text" class="form_search__input" placeholder="поиск" v-model="inputSearch">
                <input type="text" class="input-lastname-search" placeholder="фамилия" v-model="inputSearchLastname">
                <input type="number" class="input-group-search" placeholder="группа" v-model="inputSearchGroup">
                <button class="btn-filter" @click="">найти студента</button>
                <hr>
            </form>
        </div>
        <div class="table-students-block">
            <table class="table-students">
                <tr>
                    <td class="sort-number-group" @click="sortNumberGroup">группа</td>
                    <td class="sort-lastname" @click="sortLastName">фамилия</td>
                    <td>имя</td>
                    <td>отчество</td>
                    <td>пол</td>
                    <td class="sort-date" @click="sortDate">дата рождения</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="students" v-for="(item, index) in inputSearchStudent" :key="item.id"
                    v-bind:class="{status : students[index].status}">
                    <td>{{ item.numberGroup }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.midleName }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.date }}</td>
                    <!-- <td>{{ index }}</td> -->
                    <td v-if="students[index].filter">
                        <button class="btn-edit-student" @click="targetStudent(index)">изменить</button>
                    </td>
                    <td v-if="students[index].filter">
                        <button class="btn-edit-student" @click="editStudent(index)">сохранить</button>
                    </td>
                    <td v-if="students[index].filter">
                        <button class="btn-del-student" @click="delStudent(index)">удалить</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-block">
            <form action="#" class="add-students-form" onsubmit="event.preventDefault()">
                <div class="div-label-form">
                    <label class="label-form" for="firstName">Имя</label>
                    <input id="firstName" type="text" name="firstName" v-model="firstName">
                </div>
                <div class="div-label-form">
                    <label class="label-form" for="midleName">Отчество</label>
                    <input type="text" name="midleName" v-model="midleName">
                </div>
                <div class="div-label-form">
                    <label class="label-form" for="lastname">Фамилия</label>
                    <input type="text" name="lastname" v-model="lastname">
                </div>
                <div class="div-label-form">
                    <label class="label-form" for="numberGroup">Номер группы</label>
                    <input type="text" name="numberGroup" v-model="numberGroup">
                </div>
                <div class="div-label-form">
                    <label class="label-form" for="gender">Пол</label>
                    <!-- <input type="text" name="gender" v-model="gender"> -->
                    <select name="gender" v-model="gender">
                        <option disabled selected value> -- выберете пол -- </option>
                        <option value="male">мужской</option>
                        <option value="female">женский</option>
                    </select>
                </div class="div-label-form">
                <div>
                    <label class="label-form" for="date">Дата рождения</label>
                    <input type="date" name="date" v-model="date">
                </div>
                <button class="btn-add-student" @click="addStudent">добавить студента</button>
                <button class="btn-edit-student" @click="testStud()">сохранить</button>
                <hr>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./App.js"></script>
</body>

</html>