body {
    background-color: rgb(235, 249, 255);
    font-family: sans-serif;
}

.table-students {
    width: 900px;
    text-align: center;
    border-collapse: collapse;
    font-family: sans-serif;
    border: 1px solid rgb(0, 0, 0);
}

tr:first-child {
    color: rgb(2, 123, 253);
    font-weight: 400;
}

td, tr {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}

.form-block {
    margin-top: 20px;
    width: 900px;
    text-align: right;
}

tr.status {
    color: blue;
    background-color: gold;
}

.btn-del-student:hover {
    background-color: rgb(249, 44, 44);
}

.form_search__input {
    width: 300px;
}

.input-lastname-search {
    width: 200px;
    margin-right: 5px;
    margin-left: 20px;
}

.input-group-search {
    width: 100px;
    margin-right: 10px;
}

.sort-number-group:hover {
    cursor: pointer;
    color: brown;
}

.sort-lastname:hover {
    cursor: pointer;
    color: brown;
}

.sort-date:hover {
    cursor: pointer;
    color: brown;
}

.label-form {
    margin-right: 10px;
}

.btn-add-student {
    margin-top: 10px;
}

.div-label-form {
    margin-bottom: 5px;
}

.stud-search {
    width: 900px;
    text-align: right;
}