body {
    background-color: rgb(235, 249, 255);
    font-family: sans-serif;
}

.table-students {
    width: 900px;
    text-align: center;
    border-collapse: collapse;
    font-family: sans-serif;
    border: 1px solid rgb(0, 0, 0);
}

tr:first-child {
    color: rgb(2, 123, 253);
    font-weight: 400;
}

td, tr {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}

.form-block {
    margin-top: 20px;
}

tr.status {
    color: blue;
    background-color: gold;
}

.btn-del-student {
    border: 2px solid rgb(221, 26, 26);
    border-radius: 5px;
    background-color: rgb(255, 57, 57);
}

.btn-del-student:hover {
    background-color: rgb(254, 92, 92);
}

.input-lastname-search {
    width: 33%;
    margin-right: 5px;
}

.input-group-search {
    width: 10%;
    margin-right: 10px;
}
}