body {
    background-color: rgb(235, 249, 255);
    font-family: sans-serif;
}

.table-students {
    width: 900px;
    text-align: center;
    border-collapse: collapse;
    font-family: sans-serif;
    border: 1px solid rgb(0, 0, 0);
}

tr:first-child {
    color: rgb(2, 123, 253);
    font-weight: 400;
}

td, tr {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}

.table-students-block {

}

.form-block {
    margin-top: 20px;
}

tr.status {
    color: blue;
    background-color: gold;
}